{% extends 'cuinclass/base.html' %}

{% block content %}

    <h4>Register student to database:</h4>

    <form method="post" enctype="multipart/form-data" action="/add/">

        {% csrf_token %}
        {{form.as_p}}
        <p>*This image will serve for further facial recognition,
            <br></br>choose <mark>clear</mark>, <mark>lighted</mark>, <mark>face-only</mark> image.</p>
        
            <div class="d-grid gap-2">
            <button class="btn btn-outline-success" type="submit", name="save">Submit</button>
        </div>
    </form>

{% endblock content %}