<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'cuinclass/attendance.css' %}">

    <title>CUinClass</title>
</head>
<body>

{% block content %}

{% comment %} <div class="display-cover">
    <img src="{% static 'cuinclass/images/CUinclass-banner.png' %}" alt="banner">
</div> {% endcomment %}

<div class="display-cover">
    <p id="textToUser">Take a picture so I can see you</p>
</div>

<div id="activate">
    <button class="btn btn-outline-success screenshot d-none" title="ScreenShot"><i data-feather="image"></i></button>
</div>

<div class="display-cover">
    <video autoplay></video>
    <canvas class="d-none"></canvas>

    <div class="video-options">
        <select name="" id="" class="custom-select">
            <option value="">Select camera</option>
        </select>
    </div>

    <img class="screenshot-image d-none" alt="">

    <div class="controls">
        <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
        <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
        <button class="btn btn-outline-success screenshot d-none" title="ScreenShot"><i data-feather="image"></i></button>
    </div>

    
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="{% static 'cuinclass/attendance.js' %}"></script>

{% endblock %}

</body>
</html>