<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'cuinclass/attendance.css' %}">
    <link rel="icon" href="data:,">
    
    <title>CUinClass</title>

</head>
<body>
    <div class="display-cover">
        <img id="banner" src="{% static 'cuinclass/images/CUinclass-banner.png' %}" class="img-fluid" alt="banner">
    </div>
    <div class="display-cover">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='/admin'">manage</button>
            <button type="button" class="btn btn-outline-primary" onclick="location.href='/'">CHECK IN</button>
            <button type="button" class="btn btn-outline-primary" onclick="location.href='/report'"> report</button>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    
</body>
</html>